*{
  padding: 0;
  margin: 0;
  font-family: cursive;
  font-size: 100px;
}
body{
  background-color: rgba(2, 8, 43, 0.973);
}
h1{
  color: antiquewhite;
  text-align: center;
  text-decoration: solid;
  font-weight: 600;
  font-size: 0.5rem;
}
header{
  background-color: rgba(2, 8, 43, 1);
}
span{
  color: coral;
  font-size: 0.5rem;
}
#calculator{
  background-color: rgb(7, 7, 60);
  font-size: 0.25rem;
  align-content: center;
  border: 10px solid rgb(7, 7, 60);
  width: 45vw;
  margin-left: 25vw;
  margin-top: 2vw;
}
input{
  font-size: 0.65rem;
  height: 20%;
  width: 100%;
  text-align: right;
}
.btn{
  height: 10%;
  width: 21%;
  font-size: 0.45rem;
  margin: 5px;
}
.btn-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
footer{
  background-color: rgba(8, 8, 18, 0.911);
  margin-top: 11.75vh;
}
h6{
  font-size: 0.2rem;
  text-align: center;
  color: aliceblue;
}